<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='model.entidad.dao.mapper.CalculoMapper'>
	<resultMap type='Calculo' id='CalculoResult'>
		<id property="id" column="ID"></id>
		<result property='idUsuario' column='IDUSUARIO' />
		<result property='peso' column='PESO' />
		<result property='estatura' column='ESTATURA' />
		<result property="fecha" column='FECHA' />

	</resultMap>

	<insert id="guardarCalculo" useGeneratedKeys="true"
		keyProperty="ID">
		INSERT INTO CALCULO_IMC(IDUSUARIO,
		PESO, ESTATURA, FECHA)
		VALUES(#{id}, #{peso}, #{estatura}, #{fecha})
	</insert>

	<select id="getCalculosUsuario" resultMap='CalculoResult'>
		SELECT * FROM CALCULO_IMC WHERE IDUSUARIO = #{key}

	</select>
</mapper>