# Created by https://www.gitignore.io/api/netbeans
# Edit at https://www.gitignore.io/?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans
/.metadata/

AEMET-proyecto/

webapps/

temp/

Servers/

lib/

conf/

bin/

RUNNING.txt

RELEASE-NOTES

NOTICE

LICENSE

.metadata/

Servers

.metadata

.metadata/.mylyn/.taskListIndex/
*.log
.metadata/.plugins/org.eclipse.m2e.core/nexus/
*.swp
.metadata/.mylyn/*
.metadata/.plugins/org.eclipse.core.resources/.root/*.tree
.metadata/.markers
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.team.cvs.core

.metadata/.plugins/*












