# Created by https://www.gitignore.io/api/netbeans
# Edit at https://www.gitignore.io/?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans
/.metadata/

AEMET-proyecto/

webapps/

temp/

Servers/

lib/

conf/

bin/

RUNNING.txt

RELEASE-NOTES

NOTICE

LICENSE

.metadata/

Servers

.metadata

.mylyn/.taskListIndex/
*.log
.plugins/org.eclipse.m2e.core/nexus/
*.swp
.mylyn/*
.plugins/org.eclipse.core.resources/.root/*.tree
.markers
.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.plugins/org.eclipse.ui.workbench/workingsets.xml
.plugins/org.eclipse.team.cvs.core

.plugins/*












