/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 oct. 2019, 19:41:10
    Author     : horabaixa
*/

.container * {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    border: 2px solid black;
    
}



.header{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px; 
}

.header *{
    width: 14.07%;
}
.semana{
    flex-direction: row;
    width: 100%;
    justify-content: right;
}

.semana *{
    width: 20px;
    width: 14.0767%;
    height: 100%;
    min-height: 50px;
    align-content: center;
    justify-content: center;
}

