@charset "UTF-8";
body{
    background-color: rgb(55,105,130);
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    font-family: "league-woff","league-legacy",sans-serif;
    background-image:  url("fondohacking.png");
}

div{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
}

form h1{
    font-size: 3em;
    color: rgba(255,255,255,.8);
    display: block;
    font-weight: 800;
    line-height: .6666666667em;
}

form .contrasena{
    display: inline-block;
    width: 50%;
    background-color: rgba(255,255,255,.6);
    border: white solid 0.1em;
    border-right: 0;
    border-left: 0;

    box-sizing: border-box;
    height: 3em;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}